@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  background: linear-gradient(150deg, rgb(29, 142, 255) 50%, rgb(0, 106, 255) 100%);
}

.message img{
  max-width: 30vw;
}

.message .logo{
  min-width: 3rem;
}

*::-webkit-scrollbar {
  width: .6rem;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(163, 209, 255);
  border-radius: 1rem;
  /* outline: 1px solid slategrey; */
}

.loader {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
}

.loader div {
  width: .5rem;
  height: .5rem;
  background-color: black;
  border-radius: 50%;
  animation: grow-shrink 1.5s infinite;
}

.loader div:nth-child(1) {
  animation-delay: 0s;
}

.loader div:nth-child(2) {
  animation-delay: 0.3s;
}

.loader div:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes grow-shrink {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

@media screen and (max-width: 767px) {
  .message img{
    max-width: 60vw;
  }
}